*.directory# Ignore configuration files that may contain sensitive information.
src/sites/*/settings*.php

# Ignore paths that contain user-generated content.
src/sites/*/files
src/sites/*/private
src/sites/default/default.settings.php
src/sites/default/.gitignore

.directory
*/.directory
db-backups/*

src/sites/all/modules/*.tar.gz